body {
  background-color: #a1aeb4;
}

.section {
  background: #f7f7f7;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
  width: 90%;
  min-width: 100px;
  margin: 20 auto;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #0e273c;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #697e88;
}

#social_network a {
  color: #394e5f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px;
  background: #702632;
  border-radius: 10px;
  color: #d8d8d8;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px #d8d8d8;
  font-family: 'Montserrat', sans-serif;
}


#social_network li {
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
  color: #233a4d;
}

#social_network{
  text-align: center;
}

#about_me img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#about_me {
  text-align: center;
}

#movie_list p {
  text-align: justify;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #233a4d;
  text-align: center;
}

#sidebar a {
  color: #d8d8d8;
}

#sidebar li {
  list-style: none;
  font-size: 30px;
  padding: 30px;
}

.sidebar-icon {
  /*text-align: center;*/
  padding: 0;
}

#site-content {
  margin-left: 100px;
}



/*RESPONSIVE OPTIONS*/
